<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="" ng-hide="uiConfig.showBasket">
    <div>
      <md-input-container>
        <label>Email</label>
        <input ng-model="uiConfig.email" type="email">
      </md-input-container>
      <div>
        <md-button class="md-raised" data-ng-click="getMyBasket(uiConfig)">Get my bracket</md-button>
      </div>

      <p>Note: Your email is your unique key to access your bracket and getting update, please make sure it's correct.</p>
    </div>
  </md-content>

<section id="bracket" ng-show="uiConfig.showBasket" data-ng-init="uiConfig.editHeader = false">
  <md-input-container ng-show="uiConfig.editHeader || myBasket.basketName.length < 1">
    <label>Bracket Name</label>
    <input ng-model="myBasket.basketName">
  </md-input-container>
    <p class="header" data-ng-hide="uiConfig.editHeader">{{myBasket.basketName}}<span data-ng-hide="myBasket.basketName.length > 0">Edit Name</span><span class="edit" data-ng-click="uiConfig.editHeader=true">&nbsp;&nbsp;&nbsp;</span></p>
      <div class="container">
        <div class="split split-one">
            <div class="round round-one current">
                <div class="round-details">Round 1<br/><span class="date">April 15</span></div>
                <ul class="matchup">
                    <li class="team team-top" data-ng-click="setBasket('gsw', 'round1', 0); "><span class="gsw teamIcon"></span>1 Golden State</li>
                    <li class="scoreInput">Total Games:<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.round1[0]"></li>
                    <li class="team team-bottom" data-ng-click="setBasket('por', 'round1', 0)"><span class="por teamIcon"></span>8 Portland </span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top" data-ng-click="setBasket('uta', 'round1', 1)"><span class="uta teamIcon"></span>Utah</li>
                    <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.round1[1]"></li>
                    <li class="team team-bottom" data-ng-click="setBasket('lac', 'round1', 1)"><span class="lac teamIcon"></span>LA</span></li>
                </ul>
                <ul class="matchup">
                  <li class="team team-top" data-ng-click="setBasket('hou', 'round1', 2)"><span class="hou teamIcon"></span>3 Houston</li>
                  <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.round1[2]"></li>
                  <li class="team team-bottom" data-ng-click="setBasket('okc', 'round1', 2)"><span class="okc teamIcon"></span>6 Oklahoma City</span></li>
                </ul>
                <ul class="matchup">
                  <li class="team team-top" data-ng-click="setBasket('sas', 'round1', 3)"><span class="sas teamIcon"></span>2 San Antonio</li>
                  <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.round1[2]"></li>
                  <li class="team team-bottom" data-ng-click="setBasket('mem', 'round1', 3)"><span class="mem teamIcon"></span>7 Memphis </span></li>
                </ul>
            </div>	<!-- END ROUND ONE -->

            <div class="round round-two">
                <div class="round-details">Round 2<br/><span class="date">May 1</span></div>
                <ul class="matchup">
                    <li class="team team-top" data-ng-click="setBasket(myBasket.basket.round1[0].alies, 'semiConf', 0)"><span class="{{myBasket.basket.round1[0].alies}} teamIcon"></span>{{myBasket.basket.round1[0].name}}&nbsp;</span></li>
                    <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.semiConf[0]"></li>
                    <li class="team team-bottom" data-ng-click="setBasket(myBasket.basket.round1[1].alies, 'semiConf', 0)"><span class="{{myBasket.basket.round1[1].alies}} teamIcon"></span>{{myBasket.basket.round1[1].name}}&nbsp;</span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top" data-ng-click="setBasket(myBasket.basket.round1[2].alies, 'semiConf', 1)"><span class="{{myBasket.basket.round1[2].alies}} teamIcon"></span>{{myBasket.basket.round1[2].name}}&nbsp;</span></li>
                    <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.semiConf[1]"></li>
                    <li class="team team-bottom" data-ng-click="setBasket(myBasket.basket.round1[3].alies, 'semiConf', 1)"><span class="{{myBasket.basket.round1[3].alies}} teamIcon"></span>{{myBasket.basket.round1[3].name}}&nbsp;</span></li>
                </ul>
            </div>	<!-- END ROUND TWO -->

            <div class="round round-three">
                <div class="round-details">Round 3<br/><span class="date">May 16</span></div>
                <ul class="matchup">
                    <li class="team team-top" data-ng-click="setBasket(myBasket.basket.semiConf[0].alies, 'conf', 0)"><span class="{{myBasket.basket.semiConf[0].alies}} teamIcon"></span>{{myBasket.basket.semiConf[0].name}}&nbsp;</span></li>
                    <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.conf[0]"></li>
                    <li class="team team-bottom" data-ng-click="setBasket(myBasket.basket.semiConf[1].alies, 'conf', 0)"><span class="{{myBasket.basket.semiConf[1].alies}} teamIcon"></span>{{myBasket.basket.semiConf[1].name}}&nbsp;</span></li>
                </ul>
            </div>	<!-- END ROUND THREE -->
        </div>

        <div class="champion">

            <div class="final">
                <i class="fa fa-trophy"></i>
                <div class="round-details">championship <br/><span class="date">June 1</span></div>
                <ul class ="matchup championship">
                    <li class="team team-top" data-ng-click="setBasket(myBasket.basket.conf[0].alies, 'final', 0)"><span class="{{myBasket.basket.conf[0].alies}} teamIcon"></span>{{myBasket.basket.conf[0].name}}<span class="vote-count">&nbsp;</span></li>
                    <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.final[0]"></li>
                    <li class="team team-bottom" data-ng-click="setBasket(myBasket.basket.conf[1].alies, 'final', 0)"><span class="{{myBasket.basket.conf[1].alies}} teamIcon"></span>{{myBasket.basket.conf[1].name}}<span class="vote-count">&nbsp;</span></li>
                </ul>
            </div>

            <div class="semis-r">
                <div class="round-details">Champagin <br/><span class="date">June 12</span></div>
                <ul class ="matchup championship">
                    <li class="team team-top"><span class="{{myBasket.basket.final[0].alies}} teamIcon"></span>{{myBasket.basket.final[0].name}}<span class="vote-count">&nbsp;</span></li>
                </ul>
            </div>
        </div>


        <div class="split split-two">


            <div class="round round-three">
                <div class="round-details">Round 3<br/><span class="date">May 16</span></div>
                <ul class="matchup">
                    <li class="team team-top" data-ng-click="setBasket(myBasket.basket.semiConf[2].alies, 'conf', 1)"><span class="{{myBasket.basket.semiConf[2].alies}} teamIcon"></span>{{myBasket.basket.semiConf[2].name}}&nbsp;</span></li>
                    <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.conf[1]"></li>
                    <li class="team team-bottom" data-ng-click="setBasket(myBasket.basket.semiConf[3].alies, 'conf', 1)"><span class="{{myBasket.basket.semiConf[3].alies}} teamIcon"></span>{{myBasket.basket.semiConf[3].name}}&nbsp;</span></li>
                </ul>
            </div>	<!-- END ROUND THREE -->

            <div class="round round-two">
                <div class="round-details">Round 2<br/><span class="date">May 1</span></div>
                <ul class="matchup">
                    <li class="team team-top" data-ng-click="setBasket(myBasket.basket.round1[4].alies, 'semiConf', 2)"><span class="{{myBasket.basket.round1[4].alies}} teamIcon"></span>{{myBasket.basket.round1[4].name}}&nbsp;</span></li>
                    <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.semiConf[2]"></li>
                    <li class="team team-bottom" data-ng-click="setBasket(myBasket.basket.round1[5].alies, 'semiConf', 2)"><span class="{{myBasket.basket.round1[5].alies}} teamIcon"></span>{{myBasket.basket.round1[5].name}}&nbsp;</span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top" data-ng-click="setBasket(myBasket.basket.round1[6].alies, 'semiConf', 3)"><span class="{{myBasket.basket.round1[6].alies}} teamIcon"></span>{{myBasket.basket.round1[6].name}}&nbsp;</span></li>
                    <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.semiConf[3]"></li>
                    <li class="team team-bottom" data-ng-click="setBasket(myBasket.basket.round1[7].alies, 'semiConf', 3)"><span class="{{myBasket.basket.round1[7].alies}} teamIcon"></span>{{myBasket.basket.round1[7].name}}&nbsp;</span></li>
                </ul>
            </div>	<!-- END ROUND TWO -->
            <div class="round round-one current">
                <div class="round-details">Round 1<br/><span class="date">April 15</span></div>
                <ul class="matchup">
                  <li class="team team-top" data-ng-click="setBasket('bos', 'round1', 4)"><span class="bos teamIcon"></span>1 Boston</span></li>
                  <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.round1[4]"></li>
                  <li class="team team-bottom" data-ng-click="setBasket('chi', 'round1', 4)"><span class="chi teamIcon"></span>8 Chicago</span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top" data-ng-click="setBasket('was', 'round1', 5)"><span class="was teamIcon"></span>4 Washington</span></li>
                    <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.round1[7]"></li>
                    <li class="team team-bottom" data-ng-click="setBasket('atl', 'round1', 5)"><span class="atl teamIcon"></span>5 Atlanta</span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top" data-ng-click="setBasket('tor', 'round1', 6)"><span class="tor teamIcon"></span>3 Tronto</span></li>
                    <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.round1[5]"></li>
                    <li class="team team-bottom" data-ng-click="setBasket('mil', 'round1', 6)"><span class="mil teamIcon"></span>6 Milwaukee</span></li>
                </ul>
                <ul class="matchup">
                  <li class="team team-top" data-ng-click="setBasket('clc', 'round1', 7)"><span class="clc teamIcon"></span>2 Cleveland</span></li>
                  <li class="scoreInput">Total Games<input class="seriesScore" type="number" min="4" max="7" name="score"  data-ng-model="myBasket.score.round1[6]"></li>
                  <li class="team team-bottom" data-ng-click="setBasket('ind', 'round1', 7)"><span class="ind teamIcon"></span>7 Indiana</span></li>

                </ul>

            </div>	<!-- END ROUND ONE -->
        </div>
    </div>

    <div>
        <md-button class="md-raised md-primary saveBtn" data-ng-disabled="myBasket.basketName.length < 1" data-ng-click="saveMyBasket()">SAVE</md-button>
    </div>
</section>
