<md-subheader class="md-no-sticky">Bracket Score Rank</md-subheader>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Score</th>
        </tr>

    </thead>
    <tbody>
        <tr ng-repeat="bracket in allData | orderBy:'-finalScore'" ng-hide="bracket.basketName == 'result'" data-ng-click="showBracket(bracket)">
            <td>
                {{bracket.basketName}}
            </td>
            <td>
                {{bracket.user}}
            </td>
            <td>
                {{bracket.finalScore}}
            </td>
        </tr>
    </tbody>
</table>
<!--<md-list-item ng-repeat="bracket in allData" class="noright">-->
    <!--<p data-ng-click="showBracket(bracket)">{{bracket.basketName}}</p>-->
<!--</md-list-item>-->
